name: Python package

on:
  push:
    paths:
      - '**.ipynb'

jobs:
  build:

    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: install dependencies
        run: |
          python -m pip install --upgrade pip
      - name: update readme file
        run: |
          python readme_update.py
      - name: set cred
        run: git config --global user.email "reza.rajabi61925@gmail.com" && git config --global user.name "RezaRjbi"
      - name: git add
        run: |
          git add .
      - name: commit changed files
        run: git commit -m "readme auto update"
      - name: fetch from master
        run: git fetch origin master
      - name: push code to master
        run: git push origin master
